<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Меню</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="3:2">
      <mat-grid-tile *ngFor="let pizza of pizzas" [routerLink]="['/pizza-detail', pizza.id]">
        <img class="image" src={{pizza.image}} alt={{pizza.name}}>
       <mat-grid-tile-footer>
        <h1>{{pizza.name | uppercase}}</h1>
       </mat-grid-tile-footer>
      </mat-grid-tile>
     </mat-grid-list>
  </div>

</div>
